Design-Architecture-Advisory-Board-develop/salesforce-order-management-template/som-components/cancel-payment-authorization/main/default/flows/SOM_CancelPaymentAuthorizationAdapter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reverse_Authorization</name>
        <label>Reverse Authorization</label>
        <locationX>248</locationX>
        <locationY>794</locationY>
        <actionName>SOM_CancelAuthorizationHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cancel_Authorization</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>Get_Payment_Authorization.Balance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentAuthorizationId</name>
            <value>
                <elementReference>Get_Payment_Authorization.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_error_message_adapter_failure</name>
        <label>Set error message adapter failure</label>
        <locationX>446</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reverse_Authorization.failureMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_status_on_Order_Summary_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_error_message_no_balance</name>
        <label>Set error message no balance</label>
        <locationX>842</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancel authorization failed, no balance</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_status_on_Order_Summary_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_retry_count_0</name>
        <label>Set retry count</label>
        <locationX>545</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>Retry_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.CancelAuthorizationRetryAttempts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retry_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Available_balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_retry_count_to_max</name>
        <label>Set retry count to max</label>
        <locationX>842</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>Retry_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Max_Retries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_error_message_no_balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_on_Order_Summary</name>
        <label>Set status on Order Summary</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.CancelAuthorizationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AuthorizationReleased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.CancelAuthorizationRetryAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retry_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_order_summary_success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_on_Order_Summary_0</name>
        <label>Set status on Order Summary</label>
        <locationX>446</locationX>
        <locationY>1154</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.CancelAuthorizationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RequestFailed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.CancelAuthorizationRetryAttempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retry_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_order_summary_failure</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Max_Retries</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Available_balance</name>
        <label>Available balance</label>
        <locationX>545</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_retry_count_to_max</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Authorization.Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reverse_Authorization</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancel_Authorization</name>
        <label>Cancel Authorization</label>
        <locationX>248</locationX>
        <locationY>914</locationY>
        <defaultConnector>
            <targetReference>Set_error_message_adapter_failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Reverse_Authorization.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_on_Order_Summary</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_attempts_reached</name>
        <label>Max attempts reached</label>
        <locationX>446</locationX>
        <locationY>1394</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retry_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Max_Retries</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_process_exception</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cancel Payment Authorization via Adapter {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SOM Cancel Payment Authorization via Adapter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_process_exception</name>
        <label>Create process exception</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Reverse_Authorization.failureMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_order_payment_summary</name>
        <label>Get order payment summary</label>
        <locationX>545</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Authorization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AuthorizationAmount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>545</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_order_payment_summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Authorization</name>
        <label>Get Payment Authorization</label>
        <locationX>545</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_retry_count_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderPaymentSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_order_payment_summary.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentAuthorization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_order_summary_failure</name>
        <label>Update order summary failure</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Max_attempts_reached</targetReference>
        </connector>
        <inputReference>Get_Order_Summary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_order_summary_success</name>
        <label>Update order summary success</label>
        <locationX>50</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Update_payment_authorization</targetReference>
        </connector>
        <inputReference>Get_Order_Summary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_payment_authorization</name>
        <label>Update payment authorization</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Authorization.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>PaymentAuthorization</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <object>SOM_CancelAuthorizationEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Retry_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
