Design-Architecture-Advisory-Board-develop/salesforce-order-management-template/force-app/main/default/flows/SOM_CreateBatchApexErrorEventLog.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SOM Handle BatchApexErrorEvent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM Create Batch Apex Error Event Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <faultConnector>
            <targetReference>Create_Process_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AttachedToId__c</field>
            <value>
                <elementReference>$Record.AsyncApexJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>BatchApexErrorEvent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsError__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Record.Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SOM_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>440</locationX>
        <locationY>314</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.AsyncApexJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>BatchApexErrorEvent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
        <object>BatchApexErrorEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
