Design-Architecture-Advisory-Board-develop/salesforce-order-management-template/force-app/main/default/flows/SOM_ManualRetryEnsureRefunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ensure_Refunds</name>
        <label>Ensure Refunds</label>
        <locationX>1073</locationX>
        <locationY>513</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Retry_has_been_successfuly_submitted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ensure_refunds_action_failed_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Credit_Memo.ReferenceEntityId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ensureRefundsAsyncOutput</assignToReference>
            <name>ensureRefundsAsyncOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_error_inserting_refund</name>
        <label>Assignment error inserting refund</label>
        <locationX>1510</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>create_refunds_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The insert of Refund failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_inserting_refunds_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_error_inserting_refund_payment_line</name>
        <label>Assignment error inserting refund payment line</label>
        <locationX>1623</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>create_refunds_error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The insert of Refund Payment Line failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_inserting_refunds_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ensure_refunds_input</name>
        <label>Create ensure refunds input</label>
        <locationX>933</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refunds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Confirmed_submit_to_create_refunds_manually</name>
        <label>Confirmed submit to create refunds manually</label>
        <locationX>1345</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed_submit_to_create_refunds_manually</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_want_to_submit_and_create_refunds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Refund</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmed_to_proceed_to_create_manually_refunds</name>
        <label>Confirmed to proceed?</label>
        <locationX>771</locationX>
        <locationY>681</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed_to_proceed_to_create_manually_refunds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_refund_has_been_manually_done_and_proceed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Refund_for_the_credit_memo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmed_want_to_proceed_and_ensure_refunds</name>
        <label>Confirmed want to proceed and ensure refunds</label>
        <locationX>782</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmed_want_to_proceed_and_ensure_refunds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmed_want_to_ensure_refunds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ensure_refunds_input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Balance_0</name>
        <label>Is Balance 0</label>
        <locationX>614</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.Balance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credit_Memo_Invoice_Application</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.Balance</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_to_proceed_and_ensure_refunds_screen</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reference_Entity_Order_Summary</name>
        <label>Is Reference Entity Order Summary</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Reference_entity_is_not_an_Order_Summary_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Order_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Memo.ReferenceEntityId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Os</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Balance_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>There_are_refunds_for_credit_memo</name>
        <label>There are refunds for credit memo?</label>
        <locationX>1052</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>confirm_user_want_to_submit_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_refunds_for_credit_memo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refund_for_the_credit_memo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refunds_have_been_already_created_screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SOM Manual Retry Ensure Refunds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM Manual Retry Ensure Refunds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Refund</name>
        <label>Create Refund</label>
        <locationX>1508</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Create_RefundLinePayment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_error_inserting_refund</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Payment.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Credit_Memo.TotalAmountWithTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <stringValue>Record manually created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreditMemoId__c</field>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Get_Payment.OrderPaymentSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentGatewayId</field>
            <value>
                <elementReference>Get_Payment.PaymentGatewayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Get_Payment.PaymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SfResultCode</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Referenced</stringValue>
            </value>
        </inputAssignments>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RefundLinePayment</name>
        <label>Create RefundLinePayment</label>
        <locationX>1624</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Refunds_have_been_successfully_created_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assignment_error_inserting_refund_payment_line</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Credit_Memo.TotalAmountWithTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasBeenUnapplied</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentId</field>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefundId</field>
            <value>
                <elementReference>Create_Refund</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Applied</stringValue>
            </value>
        </inputAssignments>
        <object>RefundLinePayment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Memo</name>
        <label>Get Credit Memo</label>
        <locationX>783</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reference_Entity_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Balance</queriedFields>
        <queriedFields>ReferenceEntityId</queriedFields>
        <queriedFields>TotalAmountWithTax</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo_Invoice_Application</name>
        <label>Get Credit Memo Invoice Application</label>
        <locationX>461</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreditMemoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemoInvApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>InvoiceId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>461</locationX>
        <locationY>464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PaymentLineInvoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo_Invoice_Application.InvoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>457</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_to_proceed_refund_has_been_manually_done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PaymentLineInvoice.PaymentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderPaymentSummaryId</queriedFields>
        <queriedFields>PaymentMethodId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>PaymentGatewayId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PaymentLineInvoice</name>
        <label>Get PaymentLineInvoice</label>
        <locationX>457</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentLineInvoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PaymentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_for_the_credit_memo</name>
        <label>Get Refund for the credit memo</label>
        <locationX>929</locationX>
        <locationY>680</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>There_are_refunds_for_credit_memo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreditMemoId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_to_proceed_and_ensure_refunds_screen</name>
        <label>Confirm to proceed and Ensure refunds</label>
        <locationX>623</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Confirmed_want_to_proceed_and_ensure_refunds</targetReference>
        </connector>
        <fields>
            <name>confirm_want_to_proceed_and_ensure_refund_dialog</name>
            <extensionName>c:somConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Are you sure you want to proceed?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_want_to_ensure_refunds</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_to_proceed_refund_has_been_manually_done</name>
        <label>Refunds manually done, Confirm to proceed?</label>
        <locationX>611</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Confirmed_to_proceed_to_create_manually_refunds</targetReference>
        </connector>
        <fields>
            <name>confirm_refund_has_been_manually_done_dialog</name>
            <extensionName>c:somConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>The refund has been manually done on the payment provider?  Are you sure to proceed?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_refund_has_been_manually_done_and_proceed</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirm_user_want_to_submit_screen</name>
        <label>Do you confirm to submit?</label>
        <locationX>1215</locationX>
        <locationY>680</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Confirmed_submit_to_create_refunds_manually</targetReference>
        </connector>
        <fields>
            <name>confirm_user_want_to_submit_dialog</name>
            <extensionName>c:somConfirmDialog</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>text</name>
                <value>
                    <stringValue>Do you want to submit?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>confirmed_want_to_submit_and_create_refunds</assignToReference>
                <name>yesButtonClicked</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ensure_refunds_action_failed_screen</name>
        <label>Ensure refunds action failed</label>
        <locationX>1279</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ensure_refunds_action_failed_displaytext</name>
            <fieldText>&lt;p&gt;Ensure Refunds action failed:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_inserting_refunds_screen</name>
        <label>Error inserting refunds</label>
        <locationX>1561</locationX>
        <locationY>262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_inserting_refunds_displaytext</name>
            <fieldText>&lt;p&gt;{!create_refunds_error_message}&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reference_entity_is_not_an_Order_Summary_screen</name>
        <label>Reference entity is not an Order Summary</label>
        <locationX>1002</locationX>
        <locationY>325</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reference_entity_is_not_an_Order_Summary_displaytext</name>
            <fieldText>&lt;p&gt;Reference entity is not an Order Summary&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refunds_have_been_already_created_screen</name>
        <label>Refunds have been already created</label>
        <locationX>1064</locationX>
        <locationY>902</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Refunds_have_been_already_created_displaytext</name>
            <fieldText>&lt;p&gt;Refunds have been already created for this Credit Memo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refunds_have_been_successfully_created_screen</name>
        <label>Refunds have been successfully created</label>
        <locationX>1625</locationX>
        <locationY>833</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Refunds_have_been_successfully_created_displaytext</name>
            <fieldText>&lt;p&gt;Refunds have been successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retry_has_been_successfuly_submitted</name>
        <label>Retry has been successfuly submitted.</label>
        <locationX>1281</locationX>
        <locationY>521</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Retry_successfuly_submitted</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;The retry has been successfully submitted to be processed asynchronously. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, &amp;quot;Noto Sans&amp;quot;, Ubuntu, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;This message does not mean that the refund has been successful with the payment gateway. For that please check the Order Payment Summaries.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>658</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Get_Credit_Memo</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>confirmed_refund_has_been_manually_done_and_proceed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>confirmed_want_to_ensure_refunds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>confirmed_want_to_submit_and_create_refunds</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>confirmed_want_to_submit_create_refunds_manually</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>create_refunds_error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncOutput</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error_ensuring_refunds_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
