Design-Architecture-Advisory-Board-develop/salesforce-order-management-template/som-components/reject-fulfillment-order-partially/main/default/flows/SOM_RejectFulfillmentOrderPartially.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Fulfillment_Order_Item</name>
        <label>Cancel Fulfillment Order Item</label>
        <locationX>1255</locationX>
        <locationY>51</locationY>
        <actionName>cancelFulfillmentOrderItem</actionName>
        <actionType>cancelFulfillmentOrderItem</actionType>
        <connector>
            <targetReference>Create_RejectOrderLineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Cancelling_Fulfillment_Order_Item</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderLineItemsToCancelInput</name>
            <value>
                <elementReference>FulfillmentOrderLineItemsToCancelInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>1781</locationX>
        <locationY>274</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Collect_Created_FulfillmentOrder_Ids</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_Fulfillment_Order</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>InputRepresentation_FulfillmentOrder</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OutputRepresentation_FulfillmentOrder</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>651</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>Input_SelectedItemsToReject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOM_RejectProductItemParam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Fulfillment_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_IR_FulfillmentGroup</name>
        <label>Add To IR FulfillmentGroup</label>
        <locationX>1667</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputRepresentation_OrderProductSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>On_RejectProductItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_RejectOrderLineItems</name>
        <label>Add To RejectOrderLineItems</label>
        <locationX>1159</locationX>
        <locationY>163</locationY>
        <assignmentItems>
            <assignToReference>RejectOrderLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RejectOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemsToCancelInputRepresentation.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputRepresentation_FulfillmentOrderLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RejectOrderLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The status category of the Fulfillment Order shouldn&apos;t be Closed or Canceled.</description>
        <name>Assign_Error_Invalid_FO_Message</name>
        <label>Assign Error Invalid FO Message</label>
        <locationX>368</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Fulfillment Order cannot be rejected. Invalid status to Reject.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Fullfilment_Orders_to_Reject_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>There is no Fulfillment Order Product to Reject</description>
        <name>Assign_Error_no_products_to_reject</name>
        <label>Assign Error no products to reject</label>
        <locationX>330</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There is no Fulfillment Order Product to Reject</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Fullfilment_Orders_to_Reject_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_non_Order_Product_to_collection</name>
        <label>Assign non Order Product to collection</label>
        <locationX>906</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>Output_SelectedItemsToReject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOM_RejectProductItemParam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_non_Order_Product_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_RejectOrderLineItem</name>
        <label>Assign To RejectOrderLineItem</label>
        <locationX>1038</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>RejectOrderLineItem.FulfillmentOrderLineItemId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.fulfillmentItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RejectOrderLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RejectOrderLineItem.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentOrderLineItem.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.fulfillmentItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentOrderLineItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RejectedProductsQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RejectOrderLineItems.productId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_RejectOrderLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Created_FulfillmentOrder_Ids</name>
        <label>Collect Created FulfillmentOrder Ids</label>
        <locationX>1914</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>CreatedFulfillmentOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OutputRepresentation_FulfillmentOrder.fulfillmentOrderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_Fulfillment_Order_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_non_Order_Product_Items</name>
        <label>Convert non Order Product Items</label>
        <locationX>783</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.originalQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.unitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultRejectReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.fulfillmentItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.OrderItem.OrderItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.fulfillmentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.FulfillmentOrderLineItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.OrderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.totalWithTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.TotalLineAmountWithTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_non_Order_Product_Items.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_non_Order_Product_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_To_Reject_Product_Item</name>
        <label>Convert To Reject Product Item</label>
        <locationX>630</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.originalQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.unitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultRejectReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.fulfillmentItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.OrderItem.OrderItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.fulfillmentNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.FulfillmentOrderLineItemNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.OrderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.totalWithTax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.TotalLineAmountWithTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOM_RejectProductItemParam.productId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Fulfillment_Order_Products.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Cancelling_Fulfillment_Order_Item</name>
        <label>Error Cancelling Fulfillment Order Item</label>
        <locationX>1255</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error occured when Cancelling Fulfillment Order Item</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Creating_Fulfillment_Order</name>
        <label>Error Creating Fulfillment Order</label>
        <locationX>1619</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error occured when Creating Fulfillment Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Creating_RejectOrderLineItem</name>
        <label>Error Creating RejectOrderLineItem</label>
        <locationX>1396</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error orccured when Creating RejectOrderLineItem</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Updating_Fulfillment_Order_Status</name>
        <label>Error Updating Fulfillment Order Status</label>
        <locationX>1702</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error occured when Updating Fulfillment Order Status</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roll_Back_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order</name>
        <label>Set Fulfillment Order</label>
        <locationX>2066</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrder.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Fulfillment_Order_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrder.CancelReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FulfillmentOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FulfillmentOrders</name>
        <label>Set FulfillmentOrders</label>
        <locationX>2067</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_Fulfillment_Order_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IR_FulfillmentGroup</name>
        <label>Set IR FulfillmentGroup</label>
        <locationX>1738</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfilledFromLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_IR_FulfillmentOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IR_FulfillmentOrder</name>
        <label>Set IR FulfillmentOrder</label>
        <locationX>1863</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentOrder.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentOrder.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation_FulfillmentOrder.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InputRepresentation_FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IR_OrderProductSummary</name>
        <label>Set IR OrderProductSummary</label>
        <locationX>1524</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>InputRepresentation_OrderProductSummary.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>On_RejectProductItems.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InputRepresentation_OrderProductSummary.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>On_RejectProductItems.quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_IR_FulfillmentGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_Of_Order_Products</name>
        <label>Set Number Of Order Products</label>
        <locationX>193</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>FOProductCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fulfillment_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Have_Fulfillment_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NumberofRejectedItems</name>
        <label>Set NumberofRejectedItems</label>
        <locationX>474</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>NumberofRejectedItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Output_SelectedItemsToReject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Items_Selected</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>A constant to store the Store_Will_Not_Fulfill value</description>
        <name>Store_Will_Not_Fulfill_Reason</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Store will not fulfill</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Items_Selected</name>
        <label>Any Items Selected</label>
        <locationX>593</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>SC_No_Items_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Output_SelectedItemsToReject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberofRejectedItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Fulfillment_Order_Fully_Rejected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fulfillment_Order_Fully_Rejected</name>
        <label>Is Fulfillment Order Fully Rejected</label>
        <locationX>781</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Loop_RejectOrderLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FO_fully_rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFulfillmentOrderFullyRejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_non_Order_Product_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Fulfillment_Order_fully_rejected_2</name>
        <label>Is Fulfillment Order fully rejected</label>
        <locationX>1905</locationX>
        <locationY>805</locationY>
        <defaultConnector>
            <targetReference>Finish_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FO_fully_rejected_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isFulfillmentOrderFullyRejected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fully_Rejected_FO_Status_to_Canceled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Valid</name>
        <label>Is Valid</label>
        <locationX>182</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Invalid_FO_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.StatusCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.StatusCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CANCELLED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Have_Fulfillment_Products</name>
        <label>Should Have Fulfillment Products</label>
        <locationX>326</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_no_products_to_reject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FOProductCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Fields</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM Reject Fulfillment Order Partially</label>
    <loops>
        <name>Created_Fulfillment_Order_Ids</name>
        <label>Created Fulfillment Order Ids</label>
        <locationX>1915</locationX>
        <locationY>395</locationY>
        <collectionReference>CreatedFulfillmentOrderIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfillment_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_FulfillmentOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Fulfillment_Order_Products</name>
        <label>For All Fulfillment Order Product</label>
        <locationX>475</locationX>
        <locationY>419</locationY>
        <collectionReference>Fulfillment_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Convert_To_Reject_Product_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_selector_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_non_Order_Product_Items</name>
        <label>Loop non Order Product Items</label>
        <locationX>845</locationX>
        <locationY>274</locationY>
        <collectionReference>Get_non_Order_Product_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Convert_non_Order_Product_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_RejectOrderLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_RejectOrderLineItems</name>
        <label>Populate RejectOrderLineItems</label>
        <locationX>1021</locationX>
        <locationY>58</locationY>
        <collectionReference>Output_SelectedItemsToReject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_RejectOrderLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cancel_Fulfillment_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>On_RejectProductItems</name>
        <label>On RejectProductItems</label>
        <locationX>1576</locationX>
        <locationY>51</locationY>
        <collectionReference>Output_SelectedItemsToReject</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_IR_OrderProductSummary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_IR_FulfillmentGroup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Process Exception</label>
        <locationX>1321</locationX>
        <locationY>634</locationY>
        <connector>
            <targetReference>An_error_occurred_Please_try_again_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_RejectOrderLineItems</name>
        <label>Create RejectOrderLineItems</label>
        <locationX>1380</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>On_RejectProductItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Creating_RejectOrderLineItem</targetReference>
        </faultConnector>
        <inputReference>RejectOrderLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Products</name>
        <label>Fulfillment Order Products</label>
        <locationX>192</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Number_Of_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>190</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Valid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Fields</name>
        <label>Get Fulfillment Order Fields</label>
        <locationX>476</locationX>
        <locationY>704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderDeliveryGroupSummaryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <outputAssignments>
            <assignToReference>FulfilledFromLocationId</assignToReference>
            <field>FulfilledFromLocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderSummaryId</assignToReference>
            <field>OrderSummaryId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FulfillmentType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_non_Order_Product_Items</name>
        <label>Get non Order Product Items</label>
        <locationX>720</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_non_Order_Product_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderDeliveryGroupSummaryId</name>
        <label>Get OrderDeliveryGroupSummaryId</label>
        <locationX>476</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Fulfillment_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <object>OrderDeliveryGroupSummary</object>
        <outputAssignments>
            <assignToReference>OrderDeliveryGroupSummaryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_Records</name>
        <label>Roll Back Records</label>
        <locationX>1320</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_FulfillmentOrders</name>
        <label>Update FulfillmentOrders</label>
        <locationX>1915</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>Is_Fulfillment_Order_fully_rejected_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Fulfillment_Order_Status</targetReference>
        </faultConnector>
        <inputReference>FulfillmentOrders</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fully_Rejected_FO_Status_to_Canceled</name>
        <label>Update Fully Rejected FO Status to Canceled</label>
        <locationX>1702</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>Finish_screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Updating_Fulfillment_Order_Status</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CancelReason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <screens>
        <name>An_error_occurred_Please_try_again_screen</name>
        <label>An error occurred. Please try again.</label>
        <locationX>1451</locationX>
        <locationY>634</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>An_error_occurred_Please_try_again_displaytext</name>
            <fieldText>&lt;p&gt;An error occurred. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_screen</name>
        <label>Finish  Screen</label>
        <locationX>1814</locationX>
        <locationY>1017</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_displaytext</name>
            <fieldText>&lt;p&gt;Partially Rejection executed successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Fullfilment_Orders_to_Reject_screen</name>
        <label>No Fullfilment Orders to Reject</label>
        <locationX>330</locationX>
        <locationY>382</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;{!Error_Message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_selector_screen</name>
        <label>Product selector screen</label>
        <locationX>474</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_NumberofRejectedItems</targetReference>
        </connector>
        <fields>
            <name>product_selector_lwc</name>
            <extensionName>c:somRejectFulfillmentOrderProductSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>itemListParam</name>
                <value>
                    <elementReference>Input_SelectedItemsToReject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Output_SelectedItemsToReject</assignToReference>
                <name>itemListParam</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isFulfillmentOrderFullyRejected</assignToReference>
                <name>fullyRejected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SC_No_Items_Selected</name>
        <label>No Items Selected</label>
        <locationX>601</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Items_Selected_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;No Items Selected to Reject! &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>106</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CreatedFulfillmentOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_only_non_delivery_items</name>
        <apexClass>SOM_RejectProductItemParam</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultRejectReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FulfilledFromLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemsToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>FulfillmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_SelectedItemsToReject</name>
        <apexClass>SOM_RejectProductItemParam</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation_FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation_FulfillmentOrder</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation_FulfillmentOrderLineItem</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation_OrderProductSummary</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isFulfillmentOrderFullyRejected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NumberofRejectedItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_SelectedItemsToReject</name>
        <apexClass>SOM_RejectProductItemParam</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutputRepresentation_FulfillmentOrder</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RejectedProductsQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RejectOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SOM_RejectOrderLineItem__c</objectType>
    </variables>
    <variables>
        <name>RejectOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SOM_RejectOrderLineItem__c</objectType>
    </variables>
    <variables>
        <name>SOM_RejectProductItemParam</name>
        <apexClass>SOM_RejectProductItemParam</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
