Design-Architecture-Advisory-Board-develop/salesforce-order-management-template/som-components/process-exception-notification/default/flows/SOM_ProcessExceptionNotification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Chatter_Message</name>
        <label>Get Chatter Message</label>
        <locationX>2541</locationX>
        <locationY>888</locationY>
        <actionName>SOM_ChatterNotificationHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Post_To_Feed_Of_Order_Summary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idsOfRecipientUsers</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationConfiguration</name>
            <value>
                <elementReference>Iterate_Through_Enabled_Configurations</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ChatterMessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Recipient_Ids</name>
        <label>Get Recipient Ids</label>
        <locationX>3223</locationX>
        <locationY>648</locationY>
        <actionName>SOM_ExceptionNotificationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Posting_to_Chatter_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Process_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>notificationConfigurations</name>
            <value>
                <elementReference>Iterate_Through_Enabled_Configurations</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>recipientIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Feed_Of_Order_Summary</name>
        <label>Post To Feed Of Order Summary</label>
        <locationX>2541</locationX>
        <locationY>1008</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Post_to_Feed_of_Attached_Object</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_To_Feed_Of_Related</name>
        <label>Post To Feed Of Related</label>
        <locationX>2277</locationX>
        <locationY>1248</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.AttachedToId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_Action</name>
        <label>Send Custom Notification Action</label>
        <locationX>4037</locationX>
        <locationY>1128</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Iterate_Through_Enabled_Configurations.CustomNotificationTypeId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Iterate_Through_Enabled_Configurations.CustomNotificationMessage__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Iterate_Through_Enabled_Configurations.CustomNotificationTitle__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Notification</name>
        <label>Send Email Notification</label>
        <locationX>3509</locationX>
        <locationY>1008</locationY>
        <actionName>SOM_EmailNotificationHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Process_Exception_Record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idsOfRecipientUsers</name>
            <value>
                <elementReference>recipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>notificationConfiguration</name>
            <value>
                <elementReference>Iterate_Through_Enabled_Configurations</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>finalStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Triaged</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_configuration_matches_with_exception</name>
        <label>Check if configuration matches with exception</label>
        <locationX>4114</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_Configuration</name>
            <conditionLogic>(1 OR 4) AND (2 OR 5) AND (3 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ProcessExceptionCategories__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Category</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ProcessExceptionStatuses__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ProcessExceptionSeverities__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Severity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ProcessExceptionCategories__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ProcessExceptionStatuses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ProcessExceptionSeverities__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recipient_Ids</targetReference>
            </connector>
            <label>Use Configuration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_of_Sending_custom_notification</name>
        <label>Decision of Sending custom notification</label>
        <locationX>4301</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Custom_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ConfigurationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomNotification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Custom_Notification_Action</targetReference>
            </connector>
            <label>Send Custom Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_of_sending_notification_email</name>
        <label>Decision of sending notification email</label>
        <locationX>3905</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>Decision_of_Sending_custom_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Notification_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ConfigurationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification</targetReference>
            </connector>
            <label>Send Notification Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_to_Feed_of_Attached_Object</name>
        <label>Post to Feed of Attached Object</label>
        <locationX>2541</locationX>
        <locationY>1128</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_to_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.IsPostToRelatedRecordFeedEnabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Feed_Of_Related</targetReference>
            </connector>
            <label>Post to Related</label>
        </rules>
    </decisions>
    <decisions>
        <name>Posting_to_Chatter_Decision</name>
        <label>Posting to Chatter Decision</label>
        <locationX>3223</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Decision_of_sending_notification_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_to_Chatter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Through_Enabled_Configurations.ConfigurationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chatter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Chatter_Message</targetReference>
            </connector>
            <label>Post to Chatter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM Process Exception Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SOM Process Exception Notification</label>
    <loops>
        <name>Iterate_Through_Enabled_Configurations</name>
        <label>Iterate Through Enabled Configurations</label>
        <locationX>2189</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_Notification_Configurations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_configuration_matches_with_exception</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_exception_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception_Record</name>
        <label>Create Process Exception Record</label>
        <locationX>4741</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>ProcessExceptionNotificationError</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCritical__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Severity</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Notification_Configurations</name>
        <label>Get Notification Configurations</label>
        <locationX>2189</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Through_Enabled_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsEnabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.OriginalOrder.SalesChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SOM_PEConfiguration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_exception_status</name>
        <label>Update exception status</label>
        <locationX>2189</locationX>
        <locationY>1788</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>finalStatus</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCritical__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ProcessExceptionNotificationError</stringValue>
            </value>
        </filters>
        <object>ProcessException</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_Immediately_With_Custom_Batch_Size</name>
            <connector>
                <targetReference>Get_Notification_Configurations</targetReference>
            </connector>
            <label>Run Immediately With Custom Batch Size</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChatterMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
